/* rules for a sticky footer  */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

th {
  font-weight: bold;
  color: #252422;
}

/*                             */

.gitLogo {
  margin-top: 2px;
  margin-bottom: 2px;
}

.floralWhite {
  background-color: #FFFCF2;
}

.paleSilver {
  background-color: #CCC5B9;
}

.blackOlive {
  background-color: #403D39;
}

.eerieBlack {
  background-color: #252422;
}

.flame {
  background-color: #EB5E28;
}

.textBlack {
  color: #252422;
}

.textWhite {
  color: #FFFCF2;
}

.testRow {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: nowrap;
}

.favoritesBar {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: smaller;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/header.jpg");
}

#index-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/header.jpg");
}

.calcContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  /* border and shadow */
}

.calcRow {
  border-radius: 25px;
  border: 2px solid #CBCADB;
  padding: 20px;
  box-shadow: 2px 2px 5px #CCC5B9;
}

.calcButton {
  text-align: right;
  margin-right: 4%;
  margin-top: 8%;
}

.calcDiv {
  margin-left: 4%;
}

.calcInput {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-flex-end {
  justify-content: space-around;
  flex-wrap: wrap;
}

.floralWhite {
  background-color: #FFFCF2;
}

.paleSilver {
  background-color: #CCC5B9;
}

.blackOlive {
  background-color: #403D39;
}

.eerieBlack {
  background-color: #252422;
}

.flame {
  background-color: #EB5E28;
}

.textBlack {
  color: #252422;
}

.textWhite {
  color: #FFFCF2;
}

.inv {
  display: none;
}